<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularUI Router</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

    <style>
      .reveal section img.white {
        background-color: white;
      }

      .reveal section ul li.center {
        text-align: center;
      }

      .reveal section ul li img,
      .reveal section ul li a.roll {
        vertical-align: middle;
      }

      .reveal section ul.no-bullet li,
      .reveal section ul li.no-bullet {
        list-style-type: none;
      }

      .reveal pre {
        font-size: 0.8em;
      }

      .reveal pre code {
        max-height: 600px;
      }
    </style>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Angular UI Router</h1>
          <img src="img/angularui.png" height="200"/>
          <h3>Finally a de-facto solution to nested views and routing</h3>
				</section>

        <section>
          <h2>Matthieu Lux</h2>
          <ul class="no-bullet">
            <li>
              <img src="https://si0.twimg.com/profile_images/821941422/swiip_normal.jpg">
              <a href="https://twitter.com/Swiip">@Swiip</a>
              <a href="http://swiip.github.io/">http://swiip.github.io/</a>
            </li>

            <li>
              <img src="https://si0.twimg.com/profile_images/2339865799/mt5zeb8vyfttghauzlc1_normal.gif">
              <a href="https://twitter.com/ZenikaLyon">@ZenikaLyon</a>
              <a href="http://zenika.com/">http://zenika.com/</a>
            </li>

            <li>
              <img src="https://si0.twimg.com/profile_images/1432101890/lyonjs-274_normal.png">
              <a href="https://twitter.com/LyonJS">@LyonJS</a>
              <a href="http://lyonjs.org/">http://lyonjs.org/</a>
            </li>

            <li>
              <img src="https://si0.twimg.com/profile_images/378800000053025435/75ae0e7f0fdf6a25aa57653e48887fea_normal.png">
              <a href="http://www.infoq.com/fr/author/Matthieu-Lux">Auteur InfoQ</a>
              <a href="http://www.infoq.com/fr/">http://www.infoq.com/fr/</a>
            </li>

            <li>&nbsp;</li>
            <li><strong>JavaScript :</strong> AngularJS, jQuery, Grunt, NodeJS...</li>
            <li><strong>Java :</strong> Spring, Data, MVC, Integration</li>
            <li><strong>Mobilité :</strong> jQuery Mobile, Phonegap, Android</li>
          </ul>
        </section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>AngularJS Router</h2>
					</section>
					<section>
						<h2>AngularJS 1.0</h2>
						<ul>
              <li>$routeProvider.when(path, route)
                <ul>
                  <li>path with parameters</li>
                  <li>controller</li>
                  <li>template</li>
                  <li>resolve</li>
                  <li>redirectTo</li>
                </ul>
              </li>
              <li>directive ng-view with no parameters</li>
              <li>$routeParams</li>
						</ul>
					</section>
					<section>
						<h2>AngularJS 1.2</h2>
						<ul>
              <li>angular.router.js</li>
              <li>paths with eager params</li>
						</ul>
            <h3 style="margin-top: 2em">Nothing more</h3>
					</section>
				</section>

        <section>
          <section>
            <h2>Case Study</h2>
          </section>
          <section>
            <img src="img/multiview.png" height="600"/>
          </section>
          <section>
            <img src="img/nestedview.png" height="600"/>
          </section>
        </section>

        <section>
          <section>
            <h2>UI Router project</h2>
            <p>Part of the AngularUI umbrella project</p>
            <p>Karsten Sperling, Tim Kindberg, Jens Melgaard</p>
            <p>Start at the begining of 2013</p>
            <p>0.0.1 released in May 2013</p>
            <p>In active development but surprisingly stable in 0.0.1</p>
            <p>Nice new features already in master branch</p>
          </section>
          <section>
            <h2>Finite-State Machine</h2>
            <p>$stateProvider & $state</p>
            <p>A state corresponds to a "place" in the application</p>
            <p>A state describes what the UI looks like and does at that place.</p>
            <p>Controller & View</p>
            <h3>You can rely your own code<br/>on the state machine</h3>

            <!--<pre><code data-trim class="javascript">
$stateProvider.state('contacts', {
  template: '<h1>My Contacts</h1>'
})
            </code></pre>-->
          </section>
          <section>
            <h2>State</h2>
            <ul>
              <li>URL: String, optional</li>
              <li class="no-bullet">&nbsp;</li>
              <li>Template
                <ul>
                  <li>template: String</li>
                  <li>templateUrl: String</li>
                  <li>templateProvider: Function</li>
                </ul>
              </li>
              <li class="no-bullet">&nbsp;</li>
              <li>Controller
                <ul>
                  <li>String</li>
                  <li>Function</li>
                </ul>
              </li>
              <li class="no-bullet">&nbsp;</li>
              <li>Resolve: Object</li>
              <li class="no-bullet">&nbsp;</li>
              <li>Data: Object</li>
              <li class="no-bullet">&nbsp;</li>
            </ul>
            <ul>
              <li>Nested Views
                <ul>
                  <li>composed name:<br>'parent.child'</li>
                  <li>parent: String</li>
                  <li>abstract: Boolean</li>
                </ul>
              </li>
              <li class="no-bullet">&nbsp;</li>
              <li>Multiple Named Views
                <ul>
                  <li>views:
                    <ul>
                      <li>name: String with hooks</li>
                      <li>template</li>
                      <li>controller</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="no-bullet">&nbsp;</li>
              <li>Callbacks
                <ul>
                  <li>onEnter: Function</li>
                  <li>onExit: Function</li>
                </ul>
              </li>
            </ul>
          </section>
          <section>
            <h2>URLs</h2>
            <ul>
              <li>Base
                <ul>
                  <li>'/route'</li>
                </ul>
              </li>
              <li>Parameter
                <ul>
                  <li>'/route/:routeId'</li>
                  <li>'/route/{routeId}'</li>
                </ul>
              </li>
              <li>Regexp
                <ul>
                  <li>'/route/{routeId:[0-9]{1,8}}'</li>
                </ul>
              </li>
              <li>Query parameters
                <ul>
                  <li>'/contacts?myParam'</li>
                  <li>'/contacts?myParam1&myParam2'</li>
                </ul>
              </li>
              <li>Nested routes
                <ul>
                  <li>parent: '/parent'</li>
                  <li>child: '/:parentId/child'</li>
                  <li>will match: '/parent/:parentId/child'</li>
                </ul>
              </li>
            </ul>
          </section>
          <section>
            <h3>Other features</h3>
            <ul>
              <li>Automatic handling of browser history</li>
              <li>Can use HTML5 hash bangs</li>
            </ul>
            <h3>Common trick</h3>
            <ul>
              <li>Bind $state and $stateParams in $rootScope</li>
            </ul>
            <h3>Good to know</h3>
            <ul>
              <li>'otherwise' feature is hidden in $urlRouterProvider</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h2>Nested Views</h2>
            <pre><code data-trim class="html">
&lt;!-- index.html -->
&lt;body ng-controller="MainCtrl">
  &lt;div ui-view>&lt;/div>
&lt;/body>
            </code></pre>
            <pre><code data-trim class="html">
&lt;!-- contacts.html -->
&lt;h1>My Contacts&lt;/h1>
&lt;div ui-view>&lt;/div>
            </code></pre>
            <pre><code data-trim class="html">
&lt;!-- contacts.list.html -->
&lt;ul>
  &lt;li ng-repeat="contact in contacts">
    &lt;a>{{contact.name}}</a>
  &lt;/li>
&lt;/ul>
            </code></pre>
          </section>
          <section>
            <h2>Nested States</h2>
            <pre><code data-trim class="javascript">
$stateProvider
  .state('contacts', {
    templateUrl: 'contacts.html',
    controller: function($scope){
      $scope.contacts = [
        { name: 'Alice' },
        { name: 'Bob' }
      ];
    }
  })
  .state('contacts.list', {
    templateUrl: 'contacts.list.html'
  });

function MainCtrl($state){
  $state.transitionTo('contacts.list');
}
            </code></pre>
          </section>
          <section>
            <h3>http://mydomain.com/</h3>
            <img src="img/nested-4.png"/>
          </section>
          <section>
            <h3>http://mydomain.com/link1</h3>
            <img src="img/nested-3.png"/>
          </section>
          <section>
            <h3>http://mydomain.com/link1/products</h3>
            <img src="img/nested-2.png"/>
          </section>
          <section>
            <h4>http://mydomain.com/link1/products/movies</h4>
            <img src="img/nested-1.png"/>
          </section>
          <section>
            <h4>http://mydomain.com/link1/products/movies/3/edit</h4>
            <img src="img/nestedview.png"/>
          </section>
          <section>
            <h2>Nested Tricks</h2>
            <ul>
              <li>
                Abstract States
                <ul>
                  <li>Non usable states</li>
                  <li>Controller(s)</li>
                  <li>Template(s)</li>
                  <li>URL</li>
                  <li>Can be parent</li>
                </ul>
              </li>
            </ul>
            <ul>
              <li>
                Controller Stack
                <ul>
                  <li>Nested states use several controllers</li>
                  <li>Controller are executed in order</li>
                  <li>Only switching states<br>controllers are called</li>
                  <li>Scope is child of the parent controller</li>
                </ul>
              </li>
            </ul>
            <h3 style="margin-top: 30px">Reuse parent controller and scope for optimization</h3>
          </section>
        </section>

				<section>
          <section>
					  <h2>Multiple Named Views</h2>
            <pre><code data-trim class="html">
&lt;body>
  &lt;div ui-view="filters">&lt;/div>
  &lt;div ui-view="tabledata">&lt;/div>
  &lt;div ui-view="graph">&lt;/div>
&lt;/body>
            </code></pre>
            <pre><code data-trim class="javascript">
$stateProvider
  .state('report', {
    views: {
      'filters': { ... templates, controllers, etc ... },
      'tabledata': { ... },
      'graph': { ... },
    }
  })
            </code></pre>
          </section>
          <section>
            <h2>View targeting</h2>
            <pre><code data-trim class="javascript">
$stateProvider
  .state('contacts.detail', {
    views: {
      // relatively targets the "info" view
      "info" : { /* ... */ }
      // relatively targets the unnamed view
      "" : { /* ... */ }
      // absolutely targets the "detail" view in parent
      "detail@contacts" : { /* ... */ }
      // absolutely targets the unnamed view in parent
      "@contacts" : { /* ... */ }
      // absolutely targets the "status" view in root
      "status@" : { /* ... */ }
      // absolutely targets the unnamed view in root
      "@" : { /* ... */ }
    });
            </code></pre>
          </section>
				</section>

        <section>
          <h2>About 0.0.2</h2>
          <h3>Animations <small>AngularJS 1.1.5+</small></h3>
          <pre><code data-trim class="html">
&lt;body>
  &lt;div ui-view="filters" ng-animate="'fade'">&lt;/div>
&lt;/body>
          </code></pre>
          <h3>Directive ui-sref</h3>
          <pre><code data-trim class="html">
&lt;ul>
  &lt;li ng-repeat="contact in contacts">
    &lt;a ui-sref="contacts.view({ id: contact.id })">
      {{ contact.name }}
    &lt;/a>
  &lt;/li>
&lt;/ul>
          </code></pre>
        </section>

				<section>
          <section>
            <h2>Demos</h2>
          </section>
					<section>
            <h2>year of moo</h2>
            <h4>
              <a href="http://www.yearofmoo.com/2013/05/enhanced-animations-in-angularjs.html" target="_blank">
                http://www.yearofmoo.com/2013/05/enhanced-animations-in-angularjs.html
              </a>
            </h4>
            <a href="http://localhost:9001/#/q/all">
              <img src="img/yearofmoo.png" />
            </a>
					</section>
          <section>
            <h2>GOBO</h2>
            <h3>
              <a href="http://localhost:9000/#/contrats" target="_blank">
                Good Old Back Office
              </a>
            </h3>
          </section>
				</section>

				<section>
					<h1>THE END</h1>
          <h1>THANKS !</h1>
          <h1>QUESTIONS ?</h1>
					<h3><a href="http://github.com/Swiip/talk-ui-router">http://github.com/Swiip/talk-ui-router</a></h3>
					<h3>BY Matthieu Lux / <a href="https://twitter.com/Swiip">@Swiip</a></h3>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: 'night', //Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: 'linear', //Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
