<div class="results">

  <div ui-view ng-animate="getFocusAnimation()" class="focus" ng-show="$state.current.name == 'index.focus'" ></div>

  <a ui-sref="index.focus({search: $stateParams.search, formerId: result.id})" app-focus=""
     id="id-{{ result.id }}" ng-repeat="result in fetchResults(limit) track by result.id" class="result"
     ng-animate="getListAnimation()">
    <div class="inner">
      <h5>{{ result.name }}</h5>
      <img ng-src="http://builtwith.angularjs.org/projects/{{ result.thumb }}"/>
    </div>
  </a>

  <div ng-show="limit < totalResults" class="load-more-results bottom">
    <a href="" ng-click="more()" class="medium default btn">
      Load More Results
    </a>
  </div>
</div>
